* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Open sans", Helvetica, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    color: #1372fb;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease;
}
a:hover {
    color: #000000;
}
a,
p {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}
h2 {
    font-size: 36px;
    line-height: 28px;
}
h3 {
    font-size: 36px;
    line-height: 36px;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 48px;
}
#bold {
    font-weight: 700;
}

.header-container {
    width: 100%;
}
.header-content {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    width: 90px;
}

.ride-container {
    width: 177px;
}
.ride {
    display: flex;
    align-items: center;
    fill: #1372fb;
}
.ride p {
    transition: all 0.2s ease;
}
.ride:hover > p {
    margin-right: 15px;
}
.ride:hover {
    color: #000000;
    fill: #000000;
}
#arrow {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.main-banner {
    display: relative;
    padding-top: 122px;
    padding-bottom: 72px;
}
.main-banner h1,
.main-banner h2,
.main-banner h3 {
    width: 900px;
    margin: 7px 102px 0 0;
}
#banner2 {
    padding-top: 0;
}

.sign-up-container {
    position: absolute;
    top: 200px;
    right: 80px;
    padding: 28px 42px;
    background-color: #f6f6f6;
    width: 360px;
    z-index: 1;
    left: auto;
    bottom: auto;
    height: auto;
}

.sign-up-item-full {
    width: 100%;
}
.sign-up-item-half {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin {
    margin-bottom: 15px;
}
.large-margin {
    margin-bottom: 30px;
}
.extra-large-margin {
    margin-bottom: 60px;
}
input {
    font-size: 20px;
    font-weight: 400;
    height: 52px;
    width: 100%;
    padding: 8px 18px;
    border-radius: 0;
    border-color: 0.5px solid #c4c4c4;
    transition: all 400ms ease;
    outline: none;
}
input:focus {
    border-color: #1372fb;
}
.sign-up-text p {
    font-size: 14px;
    line-height: 24px;
}
.sign-up-button {
    width: 100%;
    height: 52px;
    background-color: #1372fb;
    padding: 0 17px;
    transition: all 400ms ease;
}
.sign-up-button .ride {
    width: 100%;
    height: 100%;
    fill: #f6f6f6;
    color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-button p {
    font-weight: 700;
}
.sign-up-button:hover {
    background-color: #000000;
}

.hero-image {
    width: 100%;
    height: 680px;
    background-image: url(https://i.ibb.co/cDhgj3M/hero-image.png);
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 80px;
}

.info-container {
    width: 100%;
    padding: 0 80px;
    padding-bottom: 140px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.info-box {
    width: 25%;
    vertical-align: top;
}
.info-img {
    height: 82px;
    width: auto;
}
.info-box h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 25px;
}
.info-box p {
    font-size: 16px;
    line-height: 24px;
}

.terms-and-conditions-container {
    width: 100%;
    padding-left: 80px;
    padding-bottom: 140px;
}
.terms-and-conditions-container p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
    color: #757575;
    padding-right: 280px;
}

.footer-container {
    height: 80px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.left-footer {
    color: #ffffff;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 80px;
}
.right-footer {
    color: #999999;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}
@media only screen and (min-width: 1280px) {

    .padding{
        padding-left: 145px !important;
        padding-right: 145px !important;
    }
}
@media only screen and (min-width: 1280px) {
    .padding {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
    .desktop {
        display: block !important;
    }
    .mobile {
        display: none !important;
    }
    .main-banner h2{
        padding-right: 360px;
    }
}
@media only screen and (max-width: 770px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
}

.mobile-header {
    height: 45px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 24px;
}
.mobile-header-link {
    color: #999999;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.mobile-header-link:hover {
    color: #808080;
}

.mobile-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 0;
}

.mobile-info-container {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mobile-info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
}
.mobile-info-img {
    height: 96px;
    width: auto;
    padding-top: 12px;
}
.mobile-info-box p {
    font-size: 16px;
    line-height: 20px;
}

.mobile-sign-up-form {
    padding: 60px;
    border-bottom: 2px solid #dfdfdf;
    background-color: #f8f8f9;
}
.next {
    margin-top: 20px;
    width: 100%;
    height: 56px;
    background-color: #1372fb;
    padding: 8px 18px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: all 0.2s ease;
}
.next:hover {
    background-color: #0259d3;
}
.mobile-sign-up-form p,
.mobile-sign-up-form a {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.mobile-footer {
    background-color: #f8f8f9;
    padding: 32px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.mobile-footer a {
    font-size: 12px;
    margin-left: 10px;
}
